@page "/downloads"
@using MinhaPagina.Models
@inject HttpClient Http

<section class="section container">
    <h1>Downloads</h1>
    <p class="h-sub">Sistemas disponíveis para download.</p>
    <div class="grid">
        @if (downloads == null)
        {
            <p>Carregando downloads...</p>
        }
        else
        {
            @foreach (var download in downloads)
            {
                <DownloadCard Name="@download.Name" Summary="@download.Summary" Year="@download.Year" Link="@download.Link" Role="@download.Role" RoleLink="@download.RoleLink" Password="@download.PasswordString" />
            }
        }
    </div>
</section>

@code {
    private List<Download>? downloads;

    protected override async Task OnInitializedAsync()
    {
        downloads = await Http.GetFromJsonAsync<List<Download>>("dados/downloads.json");
    }
}

